@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body {
        @apply bg-secondary-50 text-gray-800 antialiased;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        @apply text-gray-900 tracking-tight;
    }
}

.glass-card {
    @apply bg-white/70 backdrop-blur-lg border border-white/20 shadow-xl;
}

.text-gradient {
    @apply bg-clip-text text-transparent bg-gradient-to-r from-primary-600 to-primary-400;
}